body { margin: 0; overflow: hidden !important;background-color:black;font-family:Arial,Helvetica,sans serif;font-size:18pt;}
canvas { width: 100%; height: 100%; }
/*
.t-Body-content { padding: 0 !important; margin-top: 0 !important; }
.t-Body-contentInner { padding: 0 !important;}
.t-Body-title {top: 0 !important;}
.t-Body-topButton {display: none !important;}
*/
.w-console-container{
  width:40%;
  height:40%;
  position:fixed;
  background:white;
  right:10px;
  bottom:10px;
  border:1px gray solid;
  box-shadow: 0 0 10px 1px black;
  z-index:5;
  display:none;
}

.w-console-frame{
    overflow:auto;
    border: none;
    width:100%;
    height:100%;
}

.w-logo-banner{
  position:fixed;
  width:auto;
  height:auto;
  bottom:100%;
  left:50%;
  margin-left:-325px;
  z-index:100;
}

.w-start-container{
  position:fixed;
  width:100%;
  height:auto;
  top:100%;
  text-align:center;
  z-index:100;
}

.w-start-message{
  color:black;
  font-weight:bold;
  font-size:18pt;
  text-shadow: 0 0 5px white;
  font-variant: small-caps;
}

.w-start-mask{
  position:fixed;
  width:100%;
  height:100%;
  z-index:50;
  top:0;
  left:0;
  background-image: url(../img/scanline_mask.png);
  background-color: darkGray;
}

.row, .col{
  padding:0 !important;
  min-height:0 !important;
}

#w-console-toggle{
  width:32px;
  height:32px;
  background-color:transparent;
  position:absolute;
  right:0;
  top:-42px;
  cursor:ns-resize;
}

#w-toolbar-icons{
  position:fixed;
  bottom:0;
  left:10px;
  cursor:pointer;
  z-index:2;
}

#w-debug{
  position:fixed;
  left:0;
  top:100px;
  min-width:320px;
  min-height:240px;
  background-color:rgba(0,0,0,0.25);
  color:white;
  padding:5px;
  z-index:200;
}

#w-osn-overlay{
  display:none;
  width:70%;
  height:90%;
  position:fixed;
  top:5%;
  left:15%;
  background:white;
  box-shadow: 0 0 10px 1px black;
  z-index:10;
}

#w-osn-iframe{
  width:100%;
  height:100%;
  top:0;
  left:0;
  border:none;
  background:white;
  overflow:auto;
  padding:0;
  margin:0;
}

#w-osn-close-icon{
  position:absolute;
  top:0;
  right:0;
  background:black;
  width:60px;
  height:38px;
  z-index:20;
  text-align:right;
}

#w-osn-close-icon img{
  padding-top:5px;
  padding-right:5px;
  cursor:pointer;
}

#w-compass-icon{
  width:64px;
  height:64px;
  position:fixed;
  top:0;
  right:0;
  transform-origin:50% 50%;
  transform: rotate(0deg);
  z-index:2;
}

#w-underwater-overlay{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
  pointer-events:none;
  background-color: blue;
  opacity:0.5;
}

#stats{
  position:fixed;
  left:2px;
  top:2px;
  z-index:2;
}

#fps, #ms{
  border-radius:3px;
}
#w-console-toggle{
	background:url(../img/console_icon.png);
}
#w-physics-debug{
	position:fixed;
	z-index:100;
	width:640px;
	height:480px;
	bottom:5px;
	left:5px;
	background:darkGray;
	border:1px solid black;
	display:none;
}
#w-load-progress{
  position:fixed;
  width:0%;
  height:4px;
  z-index:200;
  background-color:gray;
  top:52%;
  left:50%;
}

#w-oxygen-bar{
    position:fixed;
    width:200px;
    height:24px;
    opacity:0.75;
    color:lightBlue;
    background-color:blue;
    border:1px solid lightBlue;
    z-index:20;
    bottom:10px;
    right:10px;
    text-align:center;
    overflow:hidden;
    display:none;
}

#w-message-banner{
  width:100%;
  height:auto;
  bottom:50%;
  position:fixed;
  z-index:30;
  text-align:center;
  background-color:transparent;
  font-size:15vmin;
  color:lightGray;
  text-shadow:0 0 2vmin rgba(0,0,0,0.75);
  pointer-events: none;
  display:none;
}
